@use "./abstracts" as *;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);

  & > header,
  & > footer {
    padding: 1.5rem $layout-gap;

    @media screen and (max-width: 600px) {
      padding: 1rem $layout-gap-mb;
    }
  }
}

.header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: flex-end;
  gap: 1.2rem;
  border-bottom: $border;
  @media screen and (max-width: 600px) {
    gap: 0.8rem;
  }
  &__home {
    font-size: 4.2rem;
    @include headings();
    width: 23.1rem;
    max-height: 3.6rem;
    overflow: hidden;

    & > div {
      min-width: 100%;
      font-family: $font-heading;
    }

    @media screen and (max-width: 600px) {
      width: 8.5rem;
      max-height: 6rem;
      font-size: 3.2rem;
    }
  }

  &__divider {
    height: 3.4rem;
    background-color: var(--color-text);
    width: 0.2rem;
    @media screen and (max-width: 600px) {
      height: 5.2rem;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__name {
    font-size: 2rem;
    line-height: 100%;

    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
    }
  }

  &__light-mode {
    font-weight: 600;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    @media screen and (max-width: 600px) {
      font-size: 1.4rem;
    }

    &__btn {
      margin-left: 0.6rem;
      height: 2.2rem;
      aspect-ratio: 2/1;
      border: 0.3rem solid var(--color-border);
      border-radius: 4rem;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.2rem;
      box-sizing: border-box;

      &[data-theme="dark"] {
        justify-content: flex-end;
      }

      @media screen and (max-width: 600px) {
        transform: scale(0.8);
      }
    }

    &__thumb {
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 1rem;
      background-color: var(--color-border);
      cursor: pointer;
    }
  }
}

.main {
  flex: 1 1 0;
  margin-left: $layout-gap;
  position: relative;
  overflow-x: hidden;
  @media screen and (max-width: 600px) {
    margin-left: $layout-gap-mb;
  }

  overflow-y: auto;
  position: relative;
  @include scrollbar();

  &__content {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;
    border-left: $border;
    border-right: $border;
    padding: 1.5rem;
    box-sizing: border-box;
  }
}

.footer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0 1rem;
  border-top: $border;
  font-size: 1.2rem;

  @media screen and (max-width: 330px) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
  }

  & span {
    opacity: 0.3;
    @media screen and (max-width: 330px) {
      grid-area: 2/1 / span 1 / span 1;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-left: 2rem;
    flex: 1;
    @media screen and (max-width: 330px) {
      grid-area: 1/2/-1 / span 1;
    }
  }

  &__link {
    & > svg {
      fill: var(--color-text);
    }
  }
}

.section {
  &__title {
    margin-bottom: 2rem;
  }
}
