@use "../../sass/abstracts/" as *;

.grid {
}

.expand-box {
  display: grid;
  width: 100%;
  transition: all 0.3s ease;

  &--active {
  }

  &__box-wrapper {
    overflow: hidden;
    filter: grayscale(40%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    border-radius: 1rem;
    font-size: 6rem;
    font-weight: 700;
    transition: all 0.3s ease;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    position: relative;

    &:hover {
      filter: grayscale(0%);
    }

    & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.1s ease;

      &[aria-hidden="true"] {
        opacity: 0;
      }
    }
  }
}

.auto-height {
  min-height: 64rem;
  width: min(100%, 72rem);
  margin: auto;

  &__options {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1.2rem;
  }

  &__range {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 2rem;

    & > input {
      width: 30rem;
      padding: 0;
    }
  }

  &__btn {
    font-size: 2.4rem;
    font-weight: 500;
  }

  &__ctn {
    border-radius: 0.8rem;
    border: 0.1rem solid var(--color-border);
    padding: 1.2rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 1.2rem;

    & > button {
      width: 10rem;
    }
  }

  &__content {
    overflow: hidden;
  }

  &__text {
    overflow: hidden;
  }
}

.ah-spring {
  min-height: 50rem;

  &__text {
    border: 0.1rem solid var(--color-border);
  }
}
