@use "../../sass/abstracts" as *;

.svg {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(42rem, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  overflow-x: auto;
  gap: 2rem;

  &__ctn {
    &__box {
      border-radius: 0.8rem;
      border: 0.3rem solid var(--color-border);
      height: 42rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      padding: 1rem;
      text-align: center;
    }
  }

  &__pink-box {
    transform-origin: center;
  }
}

.css-animation {
  & > circle {
    animation: circle 2s infinite;

    @keyframes circle {
      0% {
        fill: red;
        stroke: yellow;
        stroke-width: 10;
        r: 50;
        cx: 100;
        stroke-dasharray: 0 600;
      }
      25% {
        fill: blue;
        stroke: yellowgreen;
        stroke-width: 20;
        r: 20;
        cx: 80;
        stroke-dasharray: 200 400;
      }
      50% {
        fill: blueviolet;
        stroke: orange;
        stroke-width: 30;
        r: 70;
        cx: 110;
        stroke-dasharray: 200 600;
      }
      100% {
        fill: red;
        stroke: yellow;
        stroke-width: 10;
        r: 50;
        cx: 100;
        stroke-dasharray: 0 600;
      }
    }
  }
}

.css-stroke-rotate {
  & > rect {
    animation: stroke-rotate 4s linear infinite;

    filter: drop-shadow(0px 0px 4px rgba(rgb(110, 255, 53), 1))
      drop-shadow(-2px -2px 8px rgba(rgb(53, 255, 211), 0.15))
      drop-shadow(4px 4px 4px rgba(rgb(255, 53, 211), 0.25));

    @keyframes stroke-rotate {
      0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 15 100;
      }
      50% {
        stroke-dashoffset: 230;
        stroke-dasharray: 100 15;
      }
      100% {
        stroke-dashoffset: 460;
        stroke-dasharray: 15 100;
      }
    }
  }

  & > use {
    &:first-of-type {
      filter: drop-shadow(0 0 8px rgba(rgb(255, 244, 91), 0.25))
        drop-shadow(0 0 4px rgba(rgb(247, 178, 89), 0.5))
        drop-shadow(0 0 2px rgba(rgb(255, 220, 104), 0.8));
      animation: glow-opacity 8s ease-in-out infinite;

      @keyframes glow-opacity {
        0% {
          opacity: 0.5;
        }
        10% {
          opacity: 0.8;
        }
        20% {
          opacity: 0.3;
        }
        35% {
          opacity: 1;
        }
        47% {
          opacity: 0.6;
        }
        61% {
          opacity: 0.9;
        }
        73% {
          opacity: 0.4;
        }
        85% {
          opacity: 0.7;
        }
        100% {
          opacity: 0.5;
        }
      }

      @keyframes glow-opacity-2 {
        0% {
          opacity: 1;
        }
        12% {
          opacity: 0.8;
        }
        30% {
          opacity: 1;
        }
        45% {
          opacity: 0.9;
        }
        66% {
          opacity: 0.6;
        }
        80% {
          opacity: 0.7;
        }
        100% {
          opacity: 1;
        }
      }
    }

    &:nth-of-type(2) {
      filter: drop-shadow(0px 0px 4px rgba(rgb(248, 207, 117), 0.5))
        drop-shadow(-2px -2px 6px rgba(rgb(104, 139, 255), 0.1))
        drop-shadow(3px 3px 3px rgba(rgb(255, 104, 78), 0.2));
      animation: glow-opacity-2 1.4s ease-in infinite;
    }
  }
}

.path-animate {
  // stroke-dasharray: 00 9999;
  // stroke-dashoffset: 5;
  // animation: animate-path 2.3s forwards infinite;

  // @keyframes animate-path {
  //   0% {
  //   }
  // }
}

.basic-lighting {
  &__svg {
    margin-bottom: 2rem;
  }
}

.universe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  & > svg {
    grid-row: 1/-1;
  }
}

.loader {
  padding: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  filter: blur(20px) contrast(50);
}

.particle {
  border-radius: 50%;
  background-color: yellow;
  height: 20rem;
  aspect-ratio: 1/1;
}
