@use "../../sass/abstracts" as *;

.svg {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(42rem, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  overflow-x: auto;
  gap: 2rem;

  &__ctn {
    &__box {
      border-radius: 0.8rem;
      border: 0.3rem solid var(--color-border);
      height: 42rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      padding: 1rem;
      text-align: center;
    }
  }
}
