@use "../../sass/abstracts" as *;

.react-query {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 2rem;
    font-size: 3.6rem;
  }

  &__test {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    & button {
      width: 13rem;
      height: 4rem;
    }

    &__data {
      min-width: 50rem;
      max-height: 25rem;
      overflow-y: auto;
    }
  }
}

.rq-basic {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__row {
    width: 40rem;
    display: flex;
    justify-content: space-between;

    & > strong {
      text-transform: capitalize;
    }
  }

  &__list {
  }

  &__item {
  }
}
