:root {
  --color-bg: rgb(240, 240, 240);
  --color-text: rgb(30, 30, 30);
  --color-primary: rgb(230, 178, 68);
  --color-secondary: rgb(214, 140, 55);
  --color-tertiary: rgb(192, 69, 38);
  --color-border: rgb(30, 30, 30);
  --color-border-light: rgb(212, 210, 205);
  --color-success: rgb(11, 211, 71);
  --color-error: rgb(218, 29, 16);
  --color-input: rgb(240, 240, 240);
}

.theme-dark {
  --color-bg: rgb(30, 30, 30);
  --color-text: rgb(240, 240, 240);
  --color-primary: rgb(230, 178, 68);
  --color-secondary: rgb(214, 140, 55);
  --color-tertiary: rgb(192, 69, 38);
  --color-border: rgb(240, 240, 240);
  --color-border-light: rgb(54, 53, 52);
  --color-success: rgb(11, 211, 71);
  --color-error: rgb(218, 29, 16);
  --color-input: rgb(24, 24, 24);
}

:where(*, *::before, *::after) {
  margin: 0;
  padding: 0;
  border-color: var(--color-border);
  font-family: "Jost", sans-serif;
  border-width: 0.1rem;
  transition: color 0.2s ease, fill 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

:where(html) {
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}

:where(body) {
  font-size: 1.6rem;
  background-color: var(--color-bg);
}

:where(h2, h3, h4, h5, h6) {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--color-text);
  line-height: 80%;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: -0.03em;
  color: var(--color-text);
}

:where(h1) {
  font-size: 2rem;
  line-height: 100%;
  font-weight: 300;
  color: var(--color-text);
}

:where(h2) {
  font-size: 3.2rem;
  text-transform: capitalize;
}

:where(button) {
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  font-size: 1.6rem;
}
:where(button)[type=submit] {
  height: 4rem;
  align-self: flex-end;
  background-color: transparent;
  border-radius: 0.5rem;
  width: min(100%, 15rem);
}
:where(button):disabled {
  opacity: 0.2;
}

:where(a) {
  text-decoration: none;
  color: var(--color-text);
}

:where(div, button) {
  line-height: 100%;
  color: var(--color-text);
}

:where(label) {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-text);
}

:where(input) {
  height: 4rem;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  border: 0.1rem solid var(--color-border-light);
  outline: none;
  border-radius: 0.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  background-color: var(--color-input);
  color: var(--color-text);
}
:where(input):focus-visible, :where(input):focus {
  border-color: var(--color-border);
}
:where(input)[aria-invalid=true] {
  border-color: var(--color-error);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
}
.App > header, .App > footer {
  padding: 1.5rem 2.5rem;
}
@media screen and (max-width: 600px) {
  .App > header, .App > footer {
    padding: 1rem 1.5rem;
  }
}

.header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: flex-end;
  gap: 1.2rem;
  border-bottom: 0.12rem solid var(--color-border-light);
}
@media screen and (max-width: 600px) {
  .header {
    gap: 0.8rem;
  }
}
.header__home {
  font-size: 4.2rem;
  font-family: "Roboto Condensed", sans-serif;
  color: var(--color-text);
  line-height: 80%;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: -0.03em;
  max-height: 3.6rem;
  overflow: hidden;
}
.header__home > div {
  min-width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
@media screen and (max-width: 600px) {
  .header__home {
    max-width: 10.6rem;
    max-height: 6rem;
    font-size: 3.2rem;
  }
}
.header__divider {
  height: 3.4rem;
  background-color: var(--color-text);
  width: 0.2rem;
}
@media screen and (max-width: 600px) {
  .header__divider {
    height: 5.2rem;
  }
}
.header__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}
.header__name {
  font-size: 2rem;
  line-height: 100%;
}
@media screen and (max-width: 600px) {
  .header__name {
    font-size: 1.6rem;
  }
}
.header__light-mode {
  font-weight: 600;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
@media screen and (max-width: 600px) {
  .header__light-mode {
    font-size: 1.4rem;
  }
}
.header__light-mode__btn {
  margin-left: 0.6rem;
  height: 2.2rem;
  aspect-ratio: 2/1;
  border: 0.3rem solid var(--color-border);
  border-radius: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem;
  box-sizing: border-box;
}
.header__light-mode__btn[data-theme=dark] {
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .header__light-mode__btn {
    transform: scale(0.8);
  }
}
.header__light-mode__thumb {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background-color: var(--color-border);
  cursor: pointer;
}

.main {
  flex: 1 1 0;
  margin-left: 2.5rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  scrollbar-gutter: stable;
}
@media screen and (max-width: 600px) {
  .main {
    margin-left: 1.5rem;
  }
}
.main::-webkit-scrollbar {
  width: 2.5rem;
  height: 100%;
  background-clip: padding-box;
  border-radius: 50px;
}
@media screen and (max-width: 600px) {
  .main::-webkit-scrollbar {
    width: 1.5rem;
  }
}
.main::-webkit-scrollbar-thumb {
  background: var(--color-bg);
  border: 0.55rem solid transparent;
  border-radius: 0.9rem;
  background-clip: padding-box;
}
.main::-webkit-scrollbar-track {
  background-color: var(--color-border-light);
  border-radius: 0.8rem;
  border: 0.4rem solid var(--color-bg);
  background-clip: content-box;
}
.main__content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100%;
  border-left: 0.12rem solid var(--color-border-light);
  border-right: 0.12rem solid var(--color-border-light);
  padding: 1.5rem;
  box-sizing: border-box;
}

.footer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0 1rem;
  border-top: 0.12rem solid var(--color-border-light);
  font-size: 1.2rem;
}
@media screen and (max-width: 330px) {
  .footer {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.footer span {
  opacity: 0.3;
}
@media screen and (max-width: 330px) {
  .footer span {
    grid-area: 2/1/span 1/span 1;
  }
}
.footer__links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-left: 2rem;
  flex: 1;
}
@media screen and (max-width: 330px) {
  .footer__links {
    grid-area: 1/2/-1/span 1;
  }
}
.footer__link > svg {
  fill: var(--color-text);
}

.section__title {
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 3rem;
}
.section button {
  padding: 1rem;
}
.section__ctn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu {
  position: absolute;
  z-index: 20;
  height: 100%;
  width: min(100%, 24rem);
  box-sizing: border-box;
  background-color: var(--color-bg);
  top: 0;
  right: -2.5rem;
  padding: 1.5rem;
  border-left: 0.12rem solid var(--color-border-light);
  border-right: 0.12rem solid var(--color-border-light);
}
@media screen and (max-width: 600px) {
  .menu {
    right: -1.5rem;
  }
}
.menu__list {
  margin-top: 2.5rem;
  list-style: none;
}
.menu__item:not(:first-child) {
  margin-top: 0.7rem;
}
.menu__link {
  font-size: 2rem;
}

.menu-btn {
  height: 3.6rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  border: 0.3rem solid var(--color-border);
  margin-left: 1rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .menu-btn {
    margin-left: 0.6rem;
  }
}
.menu-btn__line {
  height: 0.25rem;
  width: 65%;
  background-color: var(--color-border);
  border-radius: 1rem;
  position: relative;
}
.menu-btn__line::after, .menu-btn__line::before {
  position: absolute;
  height: 0.25rem;
  width: 100%;
  border-radius: inherit;
  content: "";
  background-color: var(--color-border);
  top: 0.6rem;
  left: 0;
  transform-origin: center;
  transition: all 0.15s ease-in-out;
}
.menu-btn__line::before {
  top: -0.6rem;
}
.menu-btn__line[data-opened=true] {
  background-color: transparent;
}
.menu-btn__line[data-opened=true]::before {
  top: 0;
  transform: rotate(-45deg) scale(0.8);
}
.menu-btn__line[data-opened=true]::after {
  top: 0;
  transform: rotate(45deg) scale(0.8);
}

.input {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 0.8rem;
  flex: 1;
}
.input__error {
  color: var(--color-error);
  text-align: right;
}
.input__field {
  grid-column: 1/-1;
  position: relative;
}
.input__field__input {
  width: 100%;
}
.input__field__show {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  fill: rgba(var(--color-bg), 0.5);
}
.input__field__show > img {
  transform: scale(0.8);
}

.inputs {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.home-boxes {
  height: 200px;
  width: 50%;
  margin: 0 auto;
}
.home-boxes__box {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.keyframes__box {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  border-style: solid;
  box-sizing: border-box;
}

.bounce-ball {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bounce-ball__ball {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  transform-origin: left center;
  cursor: pointer;
  filter: blur(0px) grayscale(50%);
}
.bounce-ball__meter {
  height: 2rem;
  width: 15rem;
  border-radius: 0.5rem;
  outline: 0.2rem solid var(--color-border);
  outline-offset: 0.2rem;
  background-size: 0% 100%;
  color: var(--color-text);
  text-align: center;
  line-height: 130%;
  font-weight: 600;
  position: relative;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.bounce-ball__meter span {
  position: absolute;
  left: calc(100% + 1.2rem);
  top: 0;
}

/*# sourceMappingURL=index.css.map */
